*{
	padding:0;
	margin:0;
	vertical-align:baseline;
	list-style:none;
	border:0
	}

.RegisterForm{
	min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.RegisterImg{
	background-image: url('../../fundo.jpeg') ;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.field{
	background-color: rgba(255, 255, 255, 0);
	display: flex;
}
.uiButton{
	background:rgba(255, 255, 255, 0);
}
.inputForm{
	background: #ffffff3f;
	border-bottom-color: orange;
	color:white;
}
.icone{
	background: #ffffff00;
	color: white;
} 



.labelBorder { color: white;
	background: #ff000000 }



.labelColor{
	background: #ffffff00;
    color: orange;
}




/*.label{
	background-color: #ff000000;
    color: orange;
}
.input{
	background: #ffe4c400;
	border-bottom-color: white;
	color:white
}
.icone{
	background: #ffe4c400;
    color: white;
}
.select{
	background: #ffe4c400;
    border-bottom-color: white;
    color: white;
}*/