*{
	padding:0;
	margin:0;
	vertical-align:baseline;
	list-style:none;
	border:0
	}

/*body {
  bottom: 0;
  margin: 0;
}*/

.background {
  background: url(../../images/background-login.jpg)no-repeat center center fixed;
	background-size: cover;
  height: 100vh;
  width: 100vw;
}
.logo {
  width: 40%;
  height: 20%;
  margin-left: 27%;
}

.box-auth {
  background-color: #000000c4;
  color: white;
  margin-left: 15vw;
  opacity: 0.8;
  padding: 35px 0;
  width: 70vw;
  border-radius: 10px;
}

.header-box-auth {
  display: flex;
}
.icone {
  height: 30px;
  width: 30px;
 
}
.button{
    color: white;
    background: rgba(255, 255, 255, 0);
}
li{
  display: flex;
  flex-direction: row;
}

.header-box-auth  {
  color: white;
  font-size: 35px;
  margin: 30px 20px;
  text-decoration: underline;
  flex-direction: column;
}
/*h3{
  color: white;
  font-size: 35px;
  margin: 30px 20px;
  text-decoration: underline;
  flex-direction: column;
}*/
.router-init{
  color:white;
}
.router-init:hover {
  color: orange;
  text-decoration: none;
}

option{
  background-color: black;
  color: white;
  font-size: 50%;
}
option::selection{
  color:orange;

}
label{
  color:orange;
  font-size: 25px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3px 0;
}
input, select{
  border-radius: 15px;
  color: white;
  background: #ff000000;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  border-bottom-color: orange;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: medium;
}
.router-login{
  margin-right: 25px;
}
.form-columm{
  display:flex;
  flex-direction: column;

}
.form-auth {
  display: flex;
  flex-direction: column;
  margin: 50px 2.5vw;
}

/*.form-auth input {
  cursor: text;
  height: 20px;
  outline: none;
}*/

.form-auth {
  font-size: 25px;
  margin: 10px 0;
}

/*.form-auth{
  background-color: orange;
  border: 1px solid orange;
 border-radius: 10px;
  color: white;
  font-size: 25px;
  height: 50px;
  margin: 50px 20px 0 120px;
  width: 50%;
}*/
.button{
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  height: 50px;
  margin: 50px 20px 0 120px;
  width: 50%;
}
.buttonEye{
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  margin-left: -56px;
  border-radius: 15px;
}


.forgot-password-auth {
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}

@media only screen and (max-width: 414px) {
  .box-auth {
    margin-left: 5vw;
    width: 90vw;
  }

  .header-box-auth h3 {
    font-size: 20px;
  }

  .form-auth {
    display: flex;
    flex-direction: column;
    margin: 5px 2.5vw;
  }

  .form-auth label {
    font-size: 20px;
  }

  .form-auth input {
    height: 15px;
  }

  .form-auth button {
    font-size: 20px;
    height: 40px;
    margin: 10px 0px;
    margin-top: 15px;
    width: 100%;
  }

  .forgot-password-auth {
    margin: 0px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 901px) {
  .logo {
    height: 50vh;
    margin: 150px 0;
    width: 40vw;
  }

  .background {
    display: flex;
  }

  .box-auth {
    width: 35%;
  }

  .header-box-auth h3 {
    font-size: 25px;
  }

  .form-auth label {
    font-size: 20px;
  }

  .form-auth input {
    height: 15px;
  }

  .form-auth button {
    font-size: 25px;
    height: 40px;
    margin-left: 6vw;
    width: 250px;
  }

  .forgot-password-auth {
    font-size: 20px;
    text-align: center;
  }
}
