
/*.RegisterForm{
	min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field{
	background-color: rgba(255, 255, 255, 0);
	display: flex;
}

.inputForm{
	background: #ffffff3f;
	border-bottom-color: orange;
	color:white;
}





*/