.btnLogout{
	margin-top: 30px; 
	font-size: 25px;
}
.black{
	background-color: black;
}
.color{
	background: #ffffff38;
}
.btnMenu{
	background-color: orange;
	border: 1px solid orange;
	border-radius: 10px;
	color: white;
	font-size: 25px;
	height: 50px;
	margin: 20px 30px;
	width: 50%;
  }
  .btnHall{
	font-size: 25px;
	height: 50px;
	margin: 20px 30px;
	width: 30%;
	border-radius: 30px;
  }
.btnFood{
	width: 200px;
	font-size: 18px;
	border-radius: 30px;
	margin:10px;
}
.size{
	width: 100vw;
}
.pdd{
	padding: 30px;
	text-align: center;
}
@media only screen and (max-width:781px){
	.btnHall{
		font-size: 15px;
		width: 42%;
	}
  }
  