.input {
  color: black;
  background: #ff000000;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  border-bottom-color: orange;
  border-bottom-style: solid;
  border-bottom-width: medium;
  width:75%;
}

.inputLogCad {
  color: white;
  background: #ff000000;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  border-bottom-color: orange;
  border-bottom-style: solid;
  border-bottom-width: medium;
  width:75%;
}

.formResume {
  display: block; 
  padding: .375rem .75rem;
  color: black;
  background-color: white;
  border-radius: 20px;
}