.select {
	color: white;
	background: #ff000000;
	font-family: Arial, Helvetica, sans-serif;
	height: 50px;
	width: 60%;
	border-bottom-color: orange;
	border-bottom-style: solid;
	border-bottom-width: medium;
}

.option {
	background-color: rgba(255, 166, 0, 0.678);
	color: white;
	font-size: 15px;
}

.option::selection {
	background-color: orangered;
	color:black;
}