.btnLogCad {
		border-radius: 10px;
		font-size: 25px;
		height: 50px;
		margin: 30px;	
		width: 50%;
}
button:hover {
	color:black;
	background-color: white;
}
.btnHall{
	border-radius: 10px;
	font-size: 25px;
	height: 50px;
	margin: 10px;	
}
.btnMenu{
	border-radius: 10px;
	font-size: 25px;
	height: 50px;
	margin: 10px;	
}
.buttonEye{
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 0);
	margin-left: -56px;
	border-radius: 15px;
}
.uiButton{
	background:rgba(255, 255, 255, 0);
}
.btnLogout{
	margin-top: 30%;
	font-size: 25px;
}

.btnHeader {
	/* color: var(--white); */
    /* border: -19px solid var(--white); */
    /* box-sizing: border-box; */
    /* cursor: pointer; */
    /* padding: 16px 24px; */
    /* font-style: normal; */
    font-weight: bold;
    /* font-size: 25px; */
    /* outline: none; */
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    transition: opacity .3s;
}

.btnHeader:hover,
.btnHeader:focus {
  opacity: .5;
}
.btnFood{
	margin-right: 20px;
}
.btnCount{
	height: 40px;
    font-size: 20px;
    margin: 4px
}

.remove {
	color: gray;
}