.btnLogCad {
	border-radius: 10px;
	font-size: 25px;
	margin: 30px;	
	width: 50%;
}

button:hover {
	color:black;
	background-color: white;
}

.btnHall {
	border-radius: 10px;
	font-size: 25px;
	height: 50px;
	margin: 10px;	
}

@media only screen and (max-width:500px) {
	.btnHall{
		font-size:16px
	}
}

.btnMenu {
	border-radius: 10px;
	font-size: 25px;
	height: 50px;
	margin: 10px;	
}

.buttonEye {
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 0);
	margin-left: -56px;
	border-radius: 15px;
}

.uiButton {
	background:rgba(255, 255, 255, 0);
}

.btnLogout {
	margin-top: 30%;
	font-size: 25px;
}

.btnWarn {
	color: black;
  background-color: #ffc107;
  border-color: black;
	border-radius: 10px;
	font-size: 30px;
  margin: 10px;
}

.btnWarn:hover {
	color: black;
  background-color: orange;
  border-color: black;
	border-radius: 10px;
	font-size: 30px;
  margin: 10px;
}

.btnHeader {
  font-weight: bold;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  transition: opacity .3s;
}

.btnHeader:hover,
.btnHeader:focus {
  opacity: .5;
}

.btnFood {
	margin-right: 20px;
}

.btnCount {
	height: 40px;
  font-size: 20px;
  margin: 4px
}

.btnLink {
	font-size: 30px;
  color: white;
  margin: 30px;
  background-color: transparent;
  border-color: transparent;
}

.btnLink:hover{
	border-color: transparent;
  background-color: transparent;
  color: orange;
}

.remove {
	color: gray;
}